.DS_Store
node_modules
/dist
exercises/coverage/clover.xml
exercises/coverage/coverage-final.json
exercises/coverage/lcov.info
exercises/coverage/lcov-report/index.html
exercises/coverage/lcov-report/index.js.html
